* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header h1 {
	margin: 0;
}

header img {
	border-radius: 10px;
	vertical-align: middle;
	width: 100%;
	border: 2px solid #333;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
	background-color: white;
}

header .home {
	border-radius: 10px;
	vertical-align: middle;
	width: 100%;
	border: 2px solid #333;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
	background-color: white;
	padding: 6px;
}

#blah {
	background-color: rgb(32, 32, 30);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1%;
	color: white;
	flex-wrap: wrap;
	transition: background-color 0.3s ease, color 0.3s ease;
}

body.lightmode #blah {
	background-color: rgb(212, 225, 252); /* Updated light mode background */
	color: black;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.logo {
	text-decoration: none;
	font-size: 38px;
	font-weight: bold;
	display: flex;
	align-items: center;
	text-shadow: 1px 1px 4px black;
}

.firstletter {
	color: red;
}

#lastname {
	color: yellow;
	padding-right: 15%;
}

.header-left {
	display: flex;
	align-items: center;
	gap: 10vw;
	flex-wrap: wrap;
}

#searchbar {
	padding: 10px 20px;
	border-radius: 7px;
	width: 40vw;
	height: 45px;
	font-size: 18px;
	color: white;
	border: 2px solid #888;
	box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.2);
	outline: none;
	background-color: #f1f1f1;
	color: black;
	transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

body.lightmode #searchbar {
	background-color: #f1f1f1;
	color: black;
	border: 2px solid #333;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.searchbutton {
	height: 45px;
	padding: 8px 15px;
	background-color: white;
	color: black;
	width: 100px;
	border: 2px solid #444;
	border-radius: 7px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease, transform 0.2s;
}

body.lightmode .searchbutton {
	background-color: white;
	color: black;
	border: 2px solid #333; /* Added stronger contrast */
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.searchbutton:hover {
	background-color: #ddd;
	transform: scale(1.05);
}

.header-images {
	display: flex;
	gap: 15px;
	margin-left: auto;
}

.header-images img {
	object-fit: cover;
	max-width: 45px;
	height: 45px;
	border-radius: 50%;
	transition: transform 0.2s ease, box-shadow 0.3s ease;
}

body.lightmode .header-images img {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
	#blah {
		flex-direction: column;
		text-align: center;
		gap: 10px;
	}

	.header-left {
		flex-direction: column;
		gap: 15px;
	}

	#searchbar {
		width: 80vw;
	}
}

.slide-container {
	width: 80vw;
	height: 500px;
	object-fit: contain;
	position: relative;
	margin: auto;
	padding-bottom: 30px;
	overflow: hidden;
}

.mySlides {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.active-slide {
	opacity: 1;
}

.mySlides img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 20px;
}

.numbertext {
	color: #f2f2f2;
	text-shadow: 0px 0px 6px #000000;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 2;
}

.next {
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.3s ease;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 3px 0px 0px 3px;
	z-index: 3;
}

.prev {
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.3s ease;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0px 3px 3px 0px;
	z-index: 3;
}

.next {
	right: 0;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
	text-align: center;
	position: relative;
	z-index: 3;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 5px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.4s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.text {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size: 25px;
	padding: 8px 12px;
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
}

body {
	font-family: Arial, sans-serif;
	background: url("background.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #e0e0e0;
	transition: background 0.5s ease, color 0.3s ease;
}

body.lightmode {
	background: url("background1.png") no-repeat center center fixed;
	background-size: cover;
	color: #333;
}

#products-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.category-section {
	margin-bottom: 40px;
	padding: 20px;
	border-radius: 10px;
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.category-section h2 {
	font-size: 1.75rem;
	font-weight: 700;
	margin-bottom: 15px;
	color: #f1f1f1;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
	transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

body.lightmode .category-section h2 {
	color: #000000;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.category-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
}

.product-card {
	background-color: #292929;
	border-radius: 8px;
	padding: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 250px;
	height: 350px;
	box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover img {
	background-color: #ffffff;
}

.product-card:hover {
	background-color: #505050;
}

body.lightmode .product-card {
	background-color: #f3f3f3;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

body.lightmode .product-card:hover {
	background-color: #d6d6d6;
}

.product-card img {
	width: 100%;
	background-color: #ffffff;
	max-height: 150px;
	object-fit: contain;
	border-radius: 10px;
	border-style: outset;
	border: 2px solid #ddd;
	transition: background-color none;
	transition: box-shadow 0.3s ease;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-card img:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.product-card h3 {
	margin: 10px 0 5px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
	font-size: 1.2rem;
	margin: 10px 0;
	color: #f1f1f1;
	transition: color 0.3s ease-in-out;
}

body.lightmode .product-card h3 {
	color: #333;
}

.product-card-price {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	align-items: baseline;
	font-size: 1rem;
	font-weight: bold;
	color: #f1f1f1;
	transition: color 0.3s ease-in-out;
}

body.lightmode .product-card-price {
	color: #333;
}

.details-button {
	padding: 8px 12px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	font-size: 1rem;
	transition: background-color 0.3s ease-in-out;
}

.details-button:hover {
	background-color: #0056b3;
}

.description {
	margin-top: 10px;
	font-size: 0.85rem;
	color: #333;
}

.content {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
}

.search-results {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	border-radius: 10px;
}

.search-results h2 {
	color: #f1f1f1;
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 10px;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

body.lightmode .search-results h2 {
	color: #000000;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.search-prod-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.search-card {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	background-color: #292929;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-card:hover {
	background-color: #505050;
}

body.lightmode .search-card {
	background-color: #f3f3f3;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

body.lightmode .search-card:hover {
	background-color: #d6d6d6;
}

.search-card img {
	width: 120px;
	height: 120px;
	object-fit: contain;
	border-radius: 10px;
	border: 2px solid #ddd;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin-right: 15px;
}

.search-result-desc {
	flex-grow: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 80%;
}

.search-result-desc h3 {
	font-size: 1rem;
	color: #f1f1f1;
	margin-bottom: 5px;
	transition: color 0.3s ease-in-out;
}

body.lightmode .search-result-desc h3 {
	color: #333;
}

.search-result-desc p {
	font-size: 0.85rem;
	color: #aaa;
	transition: color 0.3s ease-in-out;
}

body.lightmode .search-result-desc p {
	color: #777;
}

.search-card-price {
	display: flex;
	flex-direction: column;
	width: 100px;
	text-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
	gap: 10px;
}

.search-card-price p {
	padding-right: 5px;
	text-align: right;
	font-size: 1rem;
	font-weight: bold;
	color: #f1f1f1;
	transition: color 0.3s ease-in-out;
}

body.lightmode .search-card-price p {
	color: #333;
}

.details-button {
	padding: 8px 12px;
	font-size: 0.85rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.details-button:hover {
	background-color: #0056b3;
}

.productimg {
	object-fit: cover;
}

#dark-mode-toggle {
	position: fixed;
	right: 15px;
	bottom: 20px;
	height: 40px;
	width: 120px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	transition: all 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#dark-mode-toggle.light {
	background-color: white;
	color: black;
	border: 2px solid black;
}

#dark-mode-toggle.light:hover {
	background-color: #f0f0f0;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#dark-mode-toggle.dark {
	background-color: #2e2f31;
	color: white;
	border: 2px solid white;
}

#dark-mode-toggle.dark:hover {
	background-color: #3a3b3d;
	box-shadow: 0 6px 8px rgba(255, 255, 255, 0.15);
}

.redirect {
	background-color: #222; /* Dark background */
	color: #fff; /* Light text */
	border: 2px solid #444; /* Subtle border */
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.redirect:hover {
	background-color: #333;
	border-color: #666;
}

body.lightmode .redirect {
	background-color: #f0f0f0; /* Light background */
	color: #222; /* Dark text */
	border-color: #ccc;
}

body.lightmode .redirect:hover {
	background-color: #ddd;
	border-color: #999;
}

.buy-button {
	padding: 1rem 2rem;
	font-size: 1.2rem;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	background-color: #1f1f1f;
	color: white;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
	margin: 2rem auto 1.5rem 0;
	display: block;
}

.buy-button:hover {
	background-color: #333;
	transform: scale(1.03);
}

body.lightmode .buy-button {
	background-color: #f0f0f0;
	color: #111;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

body.lightmode .buy-button:hover {
	background-color: #e2e2e2;
}
