* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header h1 {
	margin: 0;
}

img {
	border-radius: 10px;
	vertical-align: middle;
	width: 100%;
}

#blah {
	background-color: rgb(32, 32, 30);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: red;
	text-align: left;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.logo {
	text-decoration: none;
	font-size: 38px;
}

.firstletter {
	padding-left: 10px;
	color: Red;
}

.header-left {
	display: flex;
	align-items: center;
	gap: 10vw;
}

.searchbutton {
	height: 50px;
	padding: 8px 15px;
	background-color: #ffffff;
	width: 100px;
	border: 2px solid #bbb;
	border-radius: 7px;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	font-size: 18px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	transition: background-color 0.2s ease;
}

.searchbutton:hover {
	background-color: #bbb;
}

.search-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

#searchbar {
	padding: 10px 20px;
	border-radius: 7px;
	width: 45vw;
	height: 50px;
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	text-align: left;
	border: 1px solid #ddd;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
	outline: none;
}

#searchbar:focus {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	border-color: #007bff;
}

#lastname {
	color: yellow;
	padding-right: 15%;
}

.header-images {
	display: flex;
	gap: 10px;
}

.header-images img {
	object-fit: cover;
	max-width: 50px;
	height: 50px;
	border-radius: 50%;
}

.slide-container {
	width: 80vw;
	height: 500px;
	object-fit: contain;
	position: relative;
	margin: auto;
	padding-bottom: 30px;
	overflow: hidden;
}

.mySlides {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.active-slide {
	opacity: 1;
}

.mySlides img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 20px;
}

.numbertext {
	color: #f2f2f2;
	text-shadow: 0px 0px 6px #000000;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 2;
}

.next {
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.3s ease;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 3px 0px 0px 3px;
	z-index: 3;
}

.prev {
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.3s ease;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0px 3px 3px 0px;
	z-index: 3;
}

.next {
	right: 0;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
	text-align: center;
	position: relative;
	z-index: 3;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 5px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.4s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.text {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size: 25px;
	padding: 8px 12px;
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
}

body {
	font-family: Arial, sans-serif;
	background: url("background.jpg") no-repeat center center fixed;
	background-repeat: repeat-y;
	background-size: cover;
	color: #333;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#products-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.category-section {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.category-section h2 {
	font-size: 1.5rem;
	color: #ffffff;
	margin-bottom: 10px;
}

.category-products {
	align-self: center;
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
	margin-bottom: 20px;
}

.product-card {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 300px;
	width: 22%;
	overflow: hidden;
	transition: background-color 0.3s ease;
}

.product-card:hover img {
	background-color: #ffffff;
}

.product-card:hover {
	background-color: #e5e5e5;
}

.product-card img {
	width: 100%;
	background-color: #ffffff;
	max-height: 150px;
	object-fit: contain;
	border-radius: 10px;
	border-style: outset;
	border: 2px solid #ddd;
	transition: background-color none;
	transition: box-shadow 0.3s ease;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-card img:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.product-card h3 {
	font-size: 16px;
	color: #333;
	margin: 10px 0 5px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
}

.product-card p {
	font-size: 14px;
	color: #777;
	margin: 0;
}

.product-card-price {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	align-items: baseline;
}

.details-button {
	padding: 8px 12px;
	font-size: 0.9rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.description {
	margin-top: 10px;
	font-size: 0.85rem;
	color: #333;
}

.content {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
}

.search-results {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.search-results h2 {
	color: #ffffff;
}

.search-prod-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.search-card {
	display: flex;
	align-items: center;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	transition: background-color 0.3s ease;
}

.search-card:hover {
	background-color: #e5e5e5;
}

.search-card img {
	width: 120px;
	height: 120px;
	object-fit: contain;
	border-radius: 10px;
	border: 2px solid #ddd;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	margin-right: 20px;
}

.search-result-desc {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search-result-desc h3 {
	font-size: 18px;
	color: #333;
	margin-bottom: 5px;
}

.search-result-desc p {
	font-size: 14px;
	color: #777;
}

.search-card-price {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 10px;
}

.search-card-price p {
	font-size: 16px;
	color: #333;
	font-weight: bold;
}

.details-button {
	padding: 8px 12px;
	font-size: 0.9rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.productimg {
	object-fit: cover;
}

.account-container {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #f9f9f9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	text-align: center;
}

.account-container h1 {
	font-size: 2rem;
	margin-bottom: 20px;
	color: #333;
}

#user-info {
	text-align: left;
}

.user-details {
	margin: 10px 0;
}

.user-details label {
	font-weight: bold;
	color: #555;
}

.user-details p {
	margin: 5px 0;
	color: #333;
}
